.DropDown__100 {
    margin-top: 10px;
    width: 100%;
    position: relative;
}

.DropDown__45 {
    width: 45%;
    position: relative;
}

@media screen and (max-width: 768px) {
    .DropDown__45 {
        width: 100%;
        margin-bottom: 10px;
    }
}

.DropDown__title {
    background-color: #ff6060;
    color: white;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.DropDown__content {
    z-index: 0;
    color: #ff6060;
    background-color: #f6f6f6;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -10px;
    padding: 15px;
}

.invisible {
    /* visibility: hidden; */
    display: none;
}

.DropDown__content__ul {
    list-style-type: none;
    text-decoration: none;
}

.DropDown__content__ul__li {
    padding-left: 5px;
}
